.div-1 {
    background-color: blue;
    height: 50px;
    width: 50px;
}
.div-2 {
    display: flex;
    justify-content: center;
    background-color: red;
    }

.div-3 {
    background-color: green;
    height: 200px;
    width: 200px;
}

p {
    color: green;
}

#para1 {
    color: blue;
}